.check {
	background: url(../images/homebg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

.cardHolder {
    width: 100%;
	height: 100%;
}

.cardRow {
   width: 80%;
   height: 230px;
   margin-left: auto;
   margin-right: auto;
}

.card1 {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
}

.card1 > img {
    max-width: 100%;
    max-height: 100%;
    height: 200px;
}

.card1:hover {
    opacity: 1;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    position: relative;
    top:-43px;
    padding: 1px 2px 1px 2px;
    background-color: white;
    color:black;
    opacity: 0.7;
}

.card-container > h4 {
    font-size: 20px;
}
.card-container > p {
    font-size: 15px;
}

.speakerPage {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.headings{
    font-size: 45px;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    color: white;
}

.headings:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #fac42b;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#inhead{
    font-size: 20px;
}

.registerPage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.coming_soon {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}

.sponser{ 
    text-align:center;
    font-family::Georgia sans-serif;
    font-weight: bold;
    transition: 0.5s;
    width: 20%;
    float: left;
    margin: 5px 15px 5px 15px;
    padding: 15px;
    opacity:0.5;
}

/*css for sponsers page*/
.sponser:hover{
    opacity:1;
}
.sponser:hover > p{
    display:block;
}
.events> ol > li >a:link {
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
}
.events > ol >li >a:visited{
    text-decoration: none;
}
.evnents > ol >li >a:hover {
    text-decoration: none;
}
.events > ol >li >a:active{
    text-decoration: none;
}

.events-content > ol > li > h2 {
    position: relative;
    font-size: 35px;
}
.faqPage {
    height: 100%;
    overflow: hidden;
}

.expandingFaq {
    width: 60%;
    margin: 40px auto 0 auto;
}

.faqElement {
    margin-top: 10px;
    position: relative;    
}

.faqElement:after {
    font-family: 'Arial';
    -webkit-font-smoothing: antialiased;
    content: "+";
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
}

.flipButton:after {
    -webkit-transform: rotate(270deg);
    -s-transform: rotate(270deg);
    transform: rotate(270deg);
}
.faqQuestion {
    font-size: 30px;
    cursor: pointer;
    margin: 0;
    padding: 7px 40px 7px 5px;
    background-color: #FF5733;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.faqAnswer {
    margin: 0;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.activeFaqAnswer {
    font-size: 20px;
    background-color: #AF954C;
    padding: 10px 5px 2px 10px;
    border-top: 1px solid grey;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}