.homePage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.homeBackground {
	background: url(../images/homebg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
    height: 100%;
    overflow: hidden;
}

.mainDialog {
    background-color: #262626;
    padding: 30px 20px 20px 20px;
    color:white;
    width: 500px;
    margin: 100px auto 0 auto;
    border-radius: 10px;
    opacity: 0.6;
}
.mainDialog h1{
    font-size: 40px;
}
.schedule_date, .schedule_address{
    font-size: 20px;
}

ul#countdown {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    display: block;
    text-align: center;
}

ul#countdown li {
    background: #be1a39;
    display: inline-block;
    margin: 10px 1px;
    padding-top: 20px;
    width: 120px;
    height: 100px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

ul#countdown li span {
    font-family: 'Orbitron', sans-serif;
}
ul#countdown li p {
    font-family: "Economica", "sans-serif";
}

#days, #hours, #minutes, #seconds {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.schedulePage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* AboutUs Page Style */
.aboutusPage{
    width:100%;
    height: 100%;
    overflow: hidden;
}

.cardRow2 {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.card2 {
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 180px;
    height: 180px;
    margin-left: 20px;
    margin-top: 8px;
    float: left;
}

.card2 > img {
    max-width: 100%;
    max-height: 100%;
    height: 200px;
}

.card2:hover {
    opacity: 1;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.2);
}

.card2-container {
    position: relative;
    top:-35px;
    padding: 1px 2px 1px 2px;
    background-color: white;
    color:black;
    opacity: 0.7;
}

.card2-container > h4 {
    font-size: 15px;
}
.card2-container > p {
    font-size: 13px;
}
/* End of team cards */

.cardHolder {
    width: 100%;
	height: 100%;
}

.speakerPage {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cardRow {
   width: 1000px;
   height: 230px;
   margin-left: auto;
   margin-right: auto;
}

.card1 {
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
}

.card1 > img {
    max-width: 100%;
    max-height: 100%;
    height: 200px;
}

.card1:hover {
    opacity: 1;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    position: relative;
    top:-43px;
    padding: 1px 2px 1px 2px;
    background-color: white;
    color:black;
    opacity: 0.7;
}

.card-container > h4 {
    font-size: 20px;
}
.card-container > p {
    font-size: 15px;
}

.headings{
    font-size: 45px;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.headings:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fac42b;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.registerPage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.coming_soon {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}

.sonpsorPage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sponsorContainer{
    width: 900px;
    height:300px;
    margin:auto auto 0 auto;
}

.sponsor{ 
    transition: 0.5s;
    float: left;
    margin: 5px 15px 5px 15px;
    padding: 15px;
}

.sponsor > img {
    width:200px;
    max-height: 200px;
}

.events> ol > li >a:link {
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
}
.events > ol >li >a:visited{
    text-decoration: none;
}
.evnents > ol >li >a:hover {
    text-decoration: none;
}
.events > ol >li >a:active{
    text-decoration: none;
}

.events-content > ol > li > h2 {
    position: relative;
    font-size: 35px;
}

.faqPage {
    height: 100%;
    overflow: hidden;
}

.expandingFaq {
    width: 60%;
    margin: 40px auto 0 auto;
}

.faqElement {
    margin-top: 10px;
    position: relative;    
}

.faqElement:after {
    font-family: 'Arial';
    content: "+";
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.faqQuestion {
    font-size: 30px;
    cursor: pointer;
    margin: 0;
    padding: 7px 40px 7px 10px;
    background-color: #FF5733;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.faqAnswer {
    margin: 0;
    max-height: 0;
    overflow-y: hidden;
    font-size: 20px;
    padding: 5px 5px 0px 5px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.activeFaqAnswer {
    background-color: white;
    font-size: 20px;
    padding: 5px 5px 10px 5px;   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}